<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sneiper</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h2>Sneiper Configuration</h2>
    <form action="/start" method="POST">
      <div class="form-group">
        <div class="form-group row">
          <label for="mode" class="col-sm-2 col-form-label">Mode:</label>
          <div class="col-sm-10">
            <select class="form-control" name="mode" id="mode">
              <option value="MINT">MINT</option>
              <option value="BUY">BUY</option>
            </select>
          </div>
        </div> 
        <h6>General Options</h6>      
        <div class="form-group row">
          <label for="recoveryPhrase" class="col-sm-2 col-form-label">Recovery Phrases/Private Key(seperate with commas to use multiple in MINT mode)</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="recoveryPhrase" name="recoveryPhrase"><%= currentConfig.RECOVERY_PHRASE || '' %></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="rpcUrl" class="col-sm-2 col-form-label">SEI RPC URL</label>
          <div class="col-sm-10">
            <input class="form-control" id="rpcUrl" name="rpcUrl" value="<%= currentConfig.RPC_URL || '' %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="gasLimit" class="col-sm-2 col-form-label">Gas Limit in SEI</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="gasLimit" name="gasLimit" value="<%= currentConfig.GAS_LIMIT || '' %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="pollingFrequency" class="col-sm-2 col-form-label">How often to poll in seconds</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="pollingFrequency" name="pollingFrequency" value="<%= currentConfig.POLLING_FREQUENCY || '' %>">
          </div>
        </div>
        <h6>MINT Mode Options</h6>
        <div class="form-group row">
          <label for="mintUrl" class="col-sm-2 col-form-label">Mint URL(needs to be a Lighthouse mint site)</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="mintUrl" name="mintUrl" value="<%= currentConfig.MINT_URL || '' %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="mintLimitPerPhase" class="col-sm-2 col-form-label">Mint Limit Per Phase</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="mintLimitPerPhase" name="mintLimitPerPhase" value="<%= currentConfig.MINT_LIMIT_PER_PHASE|| '' %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="mintLimitPerWallet" class="col-sm-2 col-form-label">Mint Limit Per Wallet</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="mintLimitPerWallet" name="mintLimitPerWallet" value="<%= currentConfig.MINT_LIMIT_PER_WALLET || '' %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="mintLimitTotal" class="col-sm-2 col-form-label">Mint Limit Total</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="mintLimitTotal" name="mintLimitTotal" value="<%= currentConfig.MINT_LIMIT_TOTAL || '' %>">
          </div>
        </div>
        <h6>BUY Mode Options</h6>
        <div class="form-group row">
          <label for="contractAddress" class="col-sm-2 col-form-label">Contract Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="contractAddress" name="contractAddress" value="<%= currentConfig.CONTRACT_ADDRESS || '' %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="tokenId" class="col-sm-2 col-form-label">Token ID(seperate with commas for multiple or use AUTO or SWEEP)</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="tokenId" name="tokenId" value="<%= currentConfig.TOKEN_ID || '' %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="priceLimit" class="col-sm-2 col-form-label">Price Limit to buy NFT at in SEI</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="priceLimit" name="priceLimit" value="<%= currentConfig.PRICE_LIMIT || '' %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="buyLimit" class="col-sm-2 col-form-label">How many NFTs to buy in total</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="buyLimit" name="buyLimit" value="<%= currentConfig.BUY_LIMIT || '' %>">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Start</button>
    </form>
  </div>

  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.querySelector('form');
      const inputs = form.querySelectorAll('input');
  
      // Prevent form submission on Enter key press in input fields
      inputs.forEach(input => {
        input.addEventListener('keypress', function(event) {
          if (event.key === 'Enter') {
            event.preventDefault(); // Prevent form submission
          }
        });
      });
  
      const startButton = form.querySelector('button[type="submit"]');
      startButton.addEventListener('click', function() {
        form.submit(); // Explicitly submit the form on Start button click
      });
    });
  </script>
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
